/*NAV BAR styling*/
nav{
    font-family: 'Share Tech Mono', monospace;
    margin: 0 auto ;
    padding: 10px;
}
/*Tech Blog Text in nav bar*/
.navbar-brand{
    font-size: 10vh;

}
/*styling the nav bar options*/
.styledNav{
    /* position: relative; */
    bottom: 0px;
    right:0px;
    font-size: 1.8rem;
}
/*styling the login and sign up cardoptions*/
.card-dash{
    margin:40px 20px 0px 20px;
    font-family: 'Share Tech', sans-serif;
    font-size:x-large;
}
.loginPage-card{
    margin-top: 25px;
}
/*styling the login, sign-up, sumbit buttons*/
.dashboard-btn, .post-btn{
 font-size: x-large;
 display: flex;
 justify-content: center;
 max-width: 30%;
 margin: auto;
}   
/*new post section*/
.card-post{
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 65%;
    font-family: 'Share Tech', sans-serif;
}

/*new post input-content*/
#post-body{
    height: 150px;
}
.card-header{
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
  
    /* background-color:navy;
    color:royalblue; */
}

/*the edit post icon and delete post icon in dashboard*/
.post-spans{
    display: inline-flex;
    justify-content: flex-end;
    padding-inline-end: 3px;
    padding-top: 3px;
}
/*dashboard welcome header*/
#dashboardHeader{
   text-align: center;
   font-family: 'Share Tech Mono', monospace;
   font-size: 2em;
   padding-top:15px ;
}
.welcomeProfile{
    display: grid;
    
}
#new-post{
   font-family: 'Share Tech Mono', monospace;
    /* margin-top: 15px; */
    display: inline-flex;
    justify-content: flex-end;
    max-width: fit-content;
    justify-self: center;

}
#comment-btn{
   max-width: fit-content;
   margin: 0 auto;
}
#username{
    font-weight: bold;
    color:royalblue;
}
/*add comment button on single post page*/
#new-comment{
    max-width: fit-content;
    margin-left: auto;
    display: inline;
    color: black;
    background-color: royalblue;
}
.cmntLink{
    text-decoration: none;
    color: cornflowerblue;
    font-family: 'Share Tech Mono', monospace;
    margin-left: auto;
}
@media screen and (max-width:375px){
	body{
		width:auto;
		/* background-image: url('../image/iphonesize.jpg'); */
	}
	.navbar-brand{
        font-size: 40px;
    }
    #dashboardHeader{
        font-size: 24px;
    }
    #new-post{
        font-size: small;
    }
    .post-spans{

    }
}   