<section>
    <div class="card card-post">
        <h2 class="card-header">{{title}}</h2>
        <form class="card-body">
            <label for="new-post" class="form-label">Title</label>
            <input type="text" name="post-title" id="post-title" class="form-input">
            <label for="post-body" class="form-label post-body">Content</label>
            <textarea type="text" class="form-control" rows="3" name="post-body" id="post-body"
                class="form-input"></textarea>
            <a href="#" class="btn btn-primary post-btn">Submit</a>
        </form>
    </div>
</section>
<script src="public/javascript/post.js"></script>