<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card loginPage-card">
                <div class="card-body">
                    <div class="mb-3">
                        <form class="form login-form">
                            <label for="username" class="form-label">User Name</label>
                            <input type="username" class="form-input" id="usernameLogin" placeholder="username">

                            <label for="loginPassword" class="form-label">Password</label>
                            <input type="password" class="form-input" id="loginPassword" placeholder="password">

                            <button class="btn btn-primary dashboard-btn login-btn">Log In</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card loginPage-card">
                <div class="card-body">
                    <div class="mb-3">
                        <form class="form signup-form">
                            <label for="signupEmail" class="form-label">Email</label>
                            <input type="email" class="form-input" id="signupEmail" placeholder="name@example.com">

                            <label for="signupUsername" class="form-label">Create a User Name</label>
                            <input type="username" class="form-input" id="signupUsername" placeholder="username">

                            <label for="signupPassword" class="form-label">Create a Password</label>
                            <input type="password" class="form-input" id="signupPassword" placeholder="password">

                            <button class="btn btn-primary dashboard-btn signup-btn">Sign Up</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="/javascript/login.js"></script>